body{
    background-image: url("images/bg6water.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}


nav{
  background-color: #272D33;
  padding: 5px;
  display:flex;
  justify-content:space-around;

}
h1{
  font-size: 40px;
  font-weight: 10px;
  color: black;
  font-family:helvetica;

}
button{

  border:none;
  color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 110px;
}

#navi{
  font-family:Helvetica;
  background-color:#272D33;
  color:white;
  font-size:32px;
  padding:5px

}