
#indexbody{
  background-color: rgb(152,180,212);
  font-size:20px;
  font-family:'Optima';
}

#homepage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#nav{
  background-color: #272D33;
  padding: 5px;
  display:flex;
  justify-content:space-around;

}
h1{
  font-size: 40px;
  font-weight: 10px;
  color: black;
  font-family:Optima;

}
button{

  border:none;
  color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 110px;
}

#navi1{
  font-family:Optima;
  background-color:#272D33;
  color:white;
  font-size:32px;
  padding:5px

}
#navi2{
  font-family:Optima;
  background-color:#272D33;
  color:white;
  font-size:32px;
  padding:5px

}
#navi3{
  font-family:Optima;
  background-color:#272D33;
  color:white;
  font-size:32px;
  padding:5px

}
#navi4{
  font-family:Optima;
  background-color:#272D33;
  color:white;
  font-size:32px;
  padding:5px

}
#navi5{
  font-family:Optima;
  background-color:#272D33;
  color:white;
  font-size:32px;
  padding:5px

}
a{
  width:20%;
  text-align:center;
  text-decoration:none;
}


#intro{
  font-size:40px;
  font-family:'Optima';
  margin-left:20px;
}
#change{
  font-size:40px;
  font-family:'Optima';
}
#pollution{
  margin-right:150px;
}

#causes{
  background-color: rgb(152,180,212);
  font-size:20px;
  font-family:'Optima';
}
#effects{
  background-color: rgb(152,180,212);
  font-size:20px;
  font-family:'Optima';
}
#solutions{
  background-color: rgb(152,180,212);
  font-size:20px;
  font-family:'Optima';
}
#quiz{
  background-color: rgb(152,180,212);
  font-size:20px;
  font-family:'Optima';
}
#causesnav{
  display:flex;
  justify-content: space-between;
}

#question{
  border-style: solid;
  border-color: black;
  background-color:rgb(92, 92, 195);
  font-size:50px;
  font-family:'Optima';
  color:white;
}

#answer{
  border-style: solid;
  border-color: black;
  background-color:rgb(92, 92, 195);
  font-size:50px;
  font-family:'Optima';
}

#comment{
  font-size:100px;
  font-family:'Optima';
  color:white;
}
@media (max-width: 420px) { 
  #navi1{
    font-size:15px;
    color:white;
  }
  #navi2{
    font-size:15px;
    color:white;
  }
  #navi3{
    font-size:15px;
    color:white;
  }
  #navi4{
    font-size:15px;
    color:white;
  }
  #navi5{
    font-size:15px;
    color:white;
  }
  #logo{
    width:267px;
    height:333px;
  }
  #change{
    font-size:25px;
  }
  #intro{
    font-size:20px;
  }
  #causesi{
    font-size:15px;
  }
  #h2c{
    font-size:20px;
  }
  #causesnav{
    font-size:20px;
  }
  #pollution{
    width:150px;
    height:250px;
  }
  ul{
    font-size:15px;
  }
  #question{
    font-size:20px;
  }
  #answer{
    font-size:15px;
  }
}